.env

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

venv/

.idea/
.vscode/
*.swp
*.swo

.ipynb_checkpoints/
*.ipynb

chroma.sqlite3
*.chroma/
5748c6d0-b832-42f7-a8f4-e82577a40027/

.DS_Store
Thumbs.db

*.log
logging.txt

.langsmith/
